.content {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow: hidden;
}

.main {
    padding: 6rem 1.75rem;
    flex-grow: 2;
}

.listUnstyled {
    margin-left: -1rem;
}

.section {
    margin-bottom: 1.125rem;
}

.section+.section {
    border-top: thin solid #777777;
    padding-top: 1.125rem;
}

.cta>span {
    width: auto;
    align-self: flex-start;
    display: inline-block;
}

@media screen and (max-width: 991px) {
    .main {
        padding: 4rem 1.75rem;
    }
}
