.content {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow: hidden;
}

.main {
    padding: 6rem 0;
    flex-grow: 2;
}

.listUnstyled {
    margin-left: -.5rem;
}

.section {
    margin-bottom: 1.125rem;
}

.section+.section {
    border-top: thin solid #777777;
    padding-top: 1.125rem;
}

.cta>span {
    width: auto;
    align-self: flex-start;
    display: inline-block;
}

.card {
    font: normal normal normal 1rem/1.2 'Roboto', helvetica, arial, sans-serif;
}

.card h1,
.card h2,
.card h3,
.card h4,
.card h5,
.card h6 {
    font-family: inherit;
    font-weight: 500;
    margin-bottom: .25rem;
}

.card h1 {
    font-size: 2em;
}

.card h2 {
    font-size: 1.75em;
}

.card h3 {
    font-size: 1.5em;
}

.card h4 {
    font-size: 1.25em;
}

.card h5 {
    font-size: 1.125em;
}

.card h6 {
    font-size: 1em;
}

.card p {
    font-size: 90%;
    margin-bottom: .5rem
}

@media screen and (max-width: 991px) {
    .main {
        padding: 4rem 0;
    }
}
